#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.ql-container {
  min-height: 300px;
}

.ql-uploadImage {
  background: #000;
}
.ql-uploadImage::before {
  content: "P";
  color: #000;
}
